* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
nav {
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.logo {
  padding: 10px;
  position: absolute;
  left: 3px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar li {
  text-decoration: none;
  margin-right: 20px;
}
.navbar li a {
  color: #fff;
}
#icon {
  display: none;
}
#menu-icon {
  display: none;
}
@media only screen and (max-width: 786px) {
  nav {
    height: 30px;
  }
  .navbar {
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: -300px;
    right: 0;
    width: 250px;
    align-items: center;
  }
  .navbar li {
    margin: 10px;
  }
  .navbar li a {
    color: #000;
    font-size: 20px;
  }
  
  #menu-icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
  
  #icon:checked + label ~ .navbar {
    top: 60px;
  }
}


form div {
  height: 50px;
}