
.landing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-top: 20px;
  }
  .content p {
    font-size: 25px;
  }
  
  .text-ld {
    width: 65%;
    font-size: 25px;
  }
  
  .image {
    margin-right: 40px;
    margin-left: 50px;
    max-width: 35%;
  }
  #welcome-text {
    margin-top: 50px;
    margin-right: auto;
    margin-left: 350px;
    font-size: 50px;
    color: teal;
    letter-spacing: 3px;  
}

.custom-button {
    height: 60px;
    width: 200px;
    border-radius: 30px;
    background-color: teal;
    color: white;
    text-align: center;
}
.custom-button a {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contact-section {
    margin-top: 50px;
    text-align: center;
}

.contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.social-icons a {
    display: block;
}

.social-icons img {
    width: 40px;
    height: auto;
}

footer {
    background-color: teal;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-container {
    margin: 0 auto;
  }
  
  .footer-container p {
    margin-top: 0;
    font-size: 17px;
    color: white
  }

  .error_handling {
    height: 600px;
  }
  .error_handling a {
    color: blue;
    font-weight: 800;
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: 20px;
  }
  @media only screen and (max-width: 786px) {
    .landing-section {
      margin: 4px;
    }
    #welcome-text {
      font-size: 27px;
      margin: 10px auto;
    }
    .content {
      width: 100%;
      flex-direction: column-reverse;
      align-items: center; /* Center items vertically */
    }
    .text-ld {
      width: 100%;
      margin-bottom: 20px;
    }
    .custom-button {
      margin: 10px auto; /* Center button horizontally */
    }
    .image {
      margin: 0 auto; /* Remove margins */
      max-width: 100%; /* Set maximum width to 100% to ensure it fits within the container */
      max-height: 100%;
    }
    .image img {
      width: 100%;
    }
  }