
.landing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    height: 700px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  .content p {
    font-size: 25px;
  }
  
  .text-ld {
    width: 65%;
    font-size: 25px;
  }
  
  .image {
    margin-right: 40px;
    margin-left: 50px;
    width: 35%;
  }
  #welcome-text {
    margin-right: auto;
    margin-left: 350px;
    font-size: 50px;
    color: teal;
    letter-spacing: 3px;  
}

.custom-button {
    height: 60px;
    width: 200px;
    border-radius: 30px;
    background-color: teal;
    color: white;
    text-align: center;
}
.custom-button a {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contact-section {
    margin-top: 50px;
    text-align: center;
}

.contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.social-icons a {
    display: block;
}

.social-icons img {
    width: 40px;
    height: auto;
}

footer {
    background-color: teal;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-container p {
    margin-top: 0;
    font-size: 17px;
    color: white
  }