body {
  background: #B2EBF2;
  font-size: 17px;
  letter-spacing: 0.3px;
  font-family: roboto, sans-serif;
}
.maincontainer {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 70px;
    padding: 20px;
    flex-direction: column;
}
.maindiv {
    max-width: 500px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.fieldset {
    margin-bottom: 20px;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: roboto;
}

.link {
    font-size: 14px;
    color: #555;
    margin-top: 15px;
    text-align: center;
  }
  .link a {
    text-decoration: none;
    color: teal;
    margin-left: 8px;
  }

  .link a:hover {
    text-decoration: underline;
  }
  .accountdiv {
    height: 500px;
    width: 600px;
    margin-left: 500px;
    margin-top: 20px;
  }
  .accountclass {
    display: inline-block;
    margin-bottom: 20px;
  }

  .accountimageclass {
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    object-fit: cover;
  }

  .accountclass div {
    display: inline-block;
    vertical-align: top; 
    margin-left: 20px; 
  }
  .homediv-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .homediv {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    width: 700px;
    height: 300px;
    border: 1px solid rgb(231, 226, 226);
  }
  .homedivdetails {
    display: flex;
    align-items: center;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .user-details a {
    padding-top: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .user-details > p {
    margin-top: 30px;
  }

  .date {
    font-size: 18px;
    font-weight: 500;
  }
  .custom-hr {
    border: none;
    border-top: 1px solid rgb(231, 226, 226);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    display: block;
  }

  .pagination {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
  }
  
  .pagination a.current-page {
    background-color: teal;
    color: white;
  }
  .homedivpost {
    margin: auto;
    padding: 20px;
    width: 900px;
    height: 100%;
    border: 1px solid rgb(231, 226, 226);
}
.homedivpost p {
  /* Apply the desired text behavior properties to paragraphs within homedivpost */
  word-wrap: break-word;
  white-space: pre-line;
  line-height: 1.5;
}
.action-links {
  display: inline-block;
}

.action-links a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.action-links a.update-link {
  background-color: teal;
  color: white;
}

.action-links a.delete-link {
  background-color: red;
  color: white;
}

.form-container {
  max-width: 900px;
  height: 500px;
  margin: 25px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.form-group {
  margin-bottom: 15px;
}
.form-content {
  width: 900px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}
.formcontent-submit {
  margin-top: 265px;
}
.error-message {
  color: red;
}

.submit-button {
  margin-top: 10px;
}

/* Style for submit button */
input[type="submit"] {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-form {
  display: flex;
  align-items: center;
  margin: 10px 300px ;
  width: 400px;
}

.search-form input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.search-form button {
  padding: 8px 15px;
  border-radius: 4px;
  border: none;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.search-form button:hover {
  background-color: rgb(89, 150, 150);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust the space between elements */
  margin-bottom: 20px;
}

/* Style for the header */
.header-text {
  margin-left: 100px;
}

/* Style for the search form */
.search-form {
  display: flex;
  align-items: center;
}
.error_handling {
  margin-left: 200px;
  margin-top: 50px;
}

h2 a.teal-title {
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 700;
}
.flashed_messages {
  margin-left: 500px;
}