/* Example CSS */
.landing-section {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 600px;
}

.content {
    flex: 1;
    margin-right: 100px; /* Adjust spacing between content and image */
}
.content h1 {
    color: navy; /* Color of your choice */
    letter-spacing: 2px; /* Adjust letter spacing as desired */
    font-weight: 700; /* Make the text bold */
    font-size: 32px;
    cursor: pointer;
}
.content h1:hover {
    color: blue;
}
.content p {
    font-size: 25px;
    margin-top: 10px;
    color: rgb(36, 36, 183);
}

.custom-button {
    height: 60px;
    width: 200px;
    border-radius: 30px;
    background-color: teal;
    color: white;
    text-align: center;
}
.custom-button a {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: opacity 0.3s ease; /* Adding a transition effect */
    opacity: 1; 
}

.custom-button a:hover {
    opacity: 0.5;
}

.image {
    flex: 1;
}

.image img {
    margin-top: 50px;
    max-width: 700px; /* Ensure image doesn't overflow its container */
    border-radius: 10px;
    height: auto;
    display: block;
}

/* Example CSS */
.contact-section {
    margin-top: 50px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Change to your preferred font */
}

.contact-section h2 {
    font-family: 'Verdana', sans-serif; /* Different font for h2 */
    font-size: 28px; /* Adjust size as needed */
    margin-bottom: 20px; /* Space below h2 */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px; /* Space between icons */
}

.social-icons a {
    display: block; /* Ensures each link takes up the full width */
}

.social-icons img {
    width: 60px; /* Adjust the size of the icons */
    height: auto; /* Maintain aspect ratio */
}